$foreground: rgba(0, 0, 0, 0.5);
$secondary: transparentize(#298fb2, 0);
$primary: darken(transparentize(#b22bb0, 0), 5%);
$background: desaturate(opacify(darken($secondary, 0%), 0.2), 0%);
$section: rgba(0, 0, 0, 0.4);

//$background: #111;

/*$background: #03260d;
$section: rgba(0, 0, 0, 0.5);
$secondary: transparentize(#ff002d, 0.5);
$primary: transparentize(#00ff72, 0.5);

$background: #011626;
$section: rgba(0, 0, 0, 0.5);
$primary: transparentize(#05f7ff, 0.5);
$secondary: transparentize(#f9ff33, 0.5);*/

@mixin glow($size, $color) {
  $all: ();
  @for $i from 1 through 5 {
    $all: append($all, 0 0 ($i*$i*$size) + px $color, comma);
  }
  @warn $all;
  text-shadow: $all;
}

:export {
  primary: $primary;
  secondary: $secondary;
}
